<nav class="admin-navbar">
    <div class="navbar-header text-center py-4">
        <a href="#" class="navbar-brand">Admin Panel</a>
    </div>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a asp-controller="Calisan" asp-action="Calisanlar" class="nav-link">
                <i class="bi bi-person-plus-fill me-2"></i>Çalışanlar
            </a>
        </li>
        <li class="nav-item">
            <a asp-controller="Hizmet" asp-action="Hizmetler" class="nav-link">
                <i class="bi bi-briefcase-fill me-2"></i>Hizmetler
            </a>
        </li>
        <li class="nav-item">
            <a asp-controller="Randevu" asp-action="RandevuListesi" class="nav-link">
                <i class="bi bi-calendar-check-fill me-2"></i>Randevular
            </a>
        </li>
        <li class="nav-item">
            <a asp-controller="Randevu" asp-action="AdminBekleyenRandevular" class="nav-link">
                <i class="bi bi-check-circle-fill me-2"></i>Randevu Onay
            </a>
        </li>
    </ul>
    <form asp-action="Logout" asp-controller="Admin" method="post" class="mt-auto">
        <button class="btn-danger" type="submit">
            <i class="bi bi-box-arrow-right me-2"></i>Logout
        </button>
    </form>
</nav>
